.additional {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: $viewport-tablet) {
    padding: 0;
  }
  @media (min-width: $viewport-desktop) {
    padding: 0;
  }
}

.additional__heading {
  font-family: $font-heading;
  color: $color-titles;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  @media (min-width: $viewport-tablet) {
    position: absolute;
    content: "";
    font-size: 36px;
    line-height: 36px;
    top: -50px;
    left: 36px;
    width: 411px;
    min-height: 38px;
    text-align: center;
    background-color: $color-background-main;
  }
  @media (min-width: $viewport-desktop) {
    position: absolute;
    content: "";
    font-size: 36px;
    line-height: 36px;
    top: -50px;
    left: 70px;
    width: 413px;
    min-height: 38px;
    text-align: center;
    background-color: $color-background-main;
  }
}

.additional__title {
  font-family: $font-heading;
  color: $color-darkgrey-2;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  @media (min-width: $viewport-tablet) {
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $viewport-desktop) {
    width: 130px;
    margin-right: 160px;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__name,
.additional__price {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__button {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  @media (min-width: $viewport-tablet) {
    width: 632px;
    margin-bottom: 28px;
  }
  @media (min-width: $viewport-desktop) {
    width: 244px;
    min-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 0;
  }
}

.additional__details {
  @media (min-width: $viewport-tablet) {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $viewport-desktop) {
    margin-right: 38px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }
}
