.additional-more__link {
  height: 90px;
  background-size: 30px 30px;
  @media (min-width: $viewport-tablet) {
    height: 180px;
    background-size: 60px 60px;
  }
}

.additional-more__text-more {
  width: 205px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 8px;
  @media (min-width: $viewport-tablet) {
    width: 160px;
    margin-bottom: 23px;
  }
  @media (min-width: $viewport-desktop) {
    width: 160px;
    margin-bottom: 23px;
  }
}

.additional-more__button-more {
  margin-top: auto;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  min-height: 40px;
  @media (min-width: $viewport-tablet) {
    margin-bottom: 39px;
    width: 248px;
    font-size: 20px;
    line-height: 20px;
    min-height: 40px;
  }
  @media (min-width: $viewport-desktop) {
    margin-bottom: 40px;
    width: 168px;
    font-size: 20px;
    line-height: 20px;
    min-height: 40px;
  }
}
