.additional {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 2px solid $color-background-contrast;
}

.additional__wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: $viewport-tablet) {
    border-top: 2px solid $color-background-contrast;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: row;
    border-top: 2px solid $color-background-contrast;
  }
}

.additional__item {
  @media (max-width: 767px) {
    border-top: 1px solid $color-separator-dark;
  }
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $color-separator-dark;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 72px;
    border: none;
    border-top: 1px solid $color-separator-dark;
    border-bottom: 1px solid $color-separator-dark;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-separator-dark;
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: column;
  }
}


.additional__container {
  @media (min-width: $viewport-tablet) {
    display: flex;
    justify-content: space-between;
  }
}


.additional__title {
  font-family: $font-heading;
  color: $color-darkgrey-2;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.additional__name,
.additional__price {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
}



.additional__details {
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: $viewport-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    justify-content: space-between;
  }
}
