.advantages__list {
  list-style: none;
  padding: 0;

  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(280px, auto);
  }
  @media (min-width: $viewport-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(280px, auto);
  }
}

.advantages__item {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  @media (min-width: $viewport-tablet) {
    flex-direction: column;
    width: 246px;
    height: 280px;
    &--nutrition {
      &::before {
        position: absolute;
        content: "1";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -20px;
        right: 0;
        z-index: 0;
      }
    }
    &--powder {
      &::before {
        position: absolute;
        content: "2";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -20px;
        right: 0;
        z-index: 0;
      }
    }
    &--supplements {
      &::before {
        position: absolute;
        content: "3";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -20px;
        right: 0;
        z-index: 0;
      }
    }
    &--result {
      &::before {
        position: absolute;
        content: "4";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -20px;
        right: 0;
        z-index: 0;
      }
    }
  }
}

.advantages__heading {
  font-family: $font-heading;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  z-index: 2;
  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__info {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}
