.advantages__list {
  list-style: none;
}

.advantages__item {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $viewport-tablet) {
    flex-direction: column;
    justify-content: flex-start;
    width: 246px;
    min-height: 280px;
    &--nutrition {
      &::before {
        position: absolute;
        content: "1";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -40px;
        right: -20px;
        z-index: 0;
      }
    }
    &--powder {
      &::before {
        position: absolute;
        content: "2";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -40px;
        right: -20px;
        z-index: 0;
      }
    }
    &--supplements {
      &::before {
        position: absolute;
        content: "3";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -40px;
        right: -20px;
        z-index: 0;
      }
    }
    &--result {
      &::before {
        position: absolute;
        content: "4";
        width: 134px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        color: $color-background-item;
        top: -40px;
        right: -20px;
        z-index: 0;
      }
    }
  }
}



.advantages__info {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
}


.advantages__icon--nutrition {
  width: 60px;
  height: 60px;
  background-image: url("/img/description/description__icon/description__icon--nutrition.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  @media (min-width: $viewport-tablet) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-right: auto;
  }
  @media (min-width: $viewport-desktop) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}
.advantages__icon--powder {
  width: 60px;
  height: 60px;
  background-image: url("/img/description/description__icon/description__icon--powder.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  @media (min-width: $viewport-tablet) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-right: auto;
  }
  @media (min-width: $viewport-desktop) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}

.advantages__icon--supplements {
  width: 60px;
  height: 60px;
  background-image: url("/img/description/description__icon/description__icon--supplements.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  @media (min-width: $viewport-tablet) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-right: auto;
  }
  @media (min-width: $viewport-desktop) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}
.advantages__icon--result {
  width: 60px;
  height: 60px;
  background-image: url("/img/description/description__icon/description__icon--result.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  @media (min-width: $viewport-tablet) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    margin-right: auto;
  }
  @media (min-width: $viewport-desktop) {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
  }
}
