.banner__block {
  background-color: $color-background-contrast;
  background-image: url("/img/catalog/mobile-images/backgrounds-gift-mobile.jpg");
  background-size: 279px 289px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 290px;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  @media (min-resolution: 2dppx) {
    background-size: 279px 289px;
    background-image: url("/img/catalog/mobile-images/backgrounds-gift-mobile@2x.png");
  }
  @media (min-width: $viewport-tablet) {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-left: auto;
    margin-top: 75px;
    width: 707px;
    min-height: 200px;
    background-size: 707px 200px;
    background-image: url("/img/catalog/tablet-images/backgrounds-gift-tablet.jpg");
    @media (min-resolution: 2dppx) {
      background-size: 707px 200px;
      background-image: url("/img/catalog/tablet-images/backgrounds-gift-tablet@2x.png");
    }
  }
  @media (min-width: $viewport-desktop) {
    width: 245px;
    height: 289px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    background-image: url("/img/catalog/desktop-images/backgrounds-gift-desktop.jpg");
    background-size: 245px 289px;
    @media (min-resolution: 2dppx) {
      background-size: 245px 289px;
      background-image: url("/img/catalog/desktop-images/backgrounds-gift-desktop@2x.jpg");
    }
  }
}

.banner__list {
  list-style: none;
}
.banner__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 465px;
    margin: 0 auto;
    min-height: 200px;
  }
  @media (min-width: $viewport-desktop) {
    flex-direction: column;
    justify-content: space-between;
    width: 205px;
  }
}

.banner__text {
  font-family: $font-text;
  color: $color-titles-light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  @media (min-width: $viewport-tablet) {
    text-align: start;
  }
  @media (min-width: $viewport-desktop) {
    text-align: center;
    background-size: 245px 289px;
  }
}
