.button {
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

//buttons green//
.button--order {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background-contrast;
  font-family: $font-heading;
  color: $color-titles-light;
  font-weight: 400;
  font-style: normal;
}

//button grey//
.button--more {
  background-color: $color-background-item;
  font-family: $font-heading;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
}

//button black on transparent//
.button--text {
  font-family: $font-heading;
  background-color: inherit;
  color: $color-titles;
  font-weight: 400;
  font-style: normal;
}
