.catalog__heading {
  font-family: $font-heading;
  color: $color-titles;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__title {
  font-family: $font-heading;
  color: $color-darkgrey-2;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog__name,
.catalog__price {
  font-family: $font-text;
  color: $color-text;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__more {
  padding: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__more-text {
  font-family: $font-heading;
  color: $color-titles-400;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.catalog__more-explain {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  @media (min-width: $viewport-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: $color-background-main;
  @media (min-width: $viewport-tablet) {
    background-color: $color-background-item;
  }
  @media (min-width: $viewport-desktop) {
    background-color: $color-background-item;
  }
}

.catalog__item--additional {
  background-color: $color-background-main;
}

.catalog__image-containter {
  height: 101px;
  @media (min-width: $viewport-tablet) {
    height: 202px;
  }
  @media (min-width: $viewport-desktop) {
    height: 202px;
  }
}

.catalog__more-text {
  font-family: $font-heading;
  color: $color-titles-400;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 22px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog__more-explain {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  margin-bottom: 21px;
  @media (min-width: $viewport-tablet) {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
  @media (min-width: $viewport-desktop) {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}

.catalog__add-button {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  @media (min-width: $viewport-tablet) {
    margin-bottom: 39px;
    width: 248px;
  }
  @media (min-width: $viewport-desktop) {
    margin-bottom: 40px;
    width: 168px;
  }
}
