.catalog-gift__wrapper {
  width: 280px;
  min-height: 290px;
  margin-top: 35px;
  margin-bottom: 35px;
  @media (min-width: $viewport-tablet) {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-left: auto;
    margin-top: 71px;
    width: 707px;
    min-height: 200px;
    margin-bottom: 76px;
  }
  @media (min-width: $viewport-desktop) {
    width: 245px;
    height: 289px;
    margin: 0;
    margin-left: 90px;
    background-image: url("/img/catalog/desktop-images/backgrounds-gift-desktop.jpg");
    background-size: 245px 289px;
    @media (min-resolution: 2dppx) {
      background-size: 245px 289px;
      background-image: url("/img/catalog/desktop-images/backgrounds-gift-desktop@2x.jpg");
    }
  }
}
