.catalog-gift__wrapper {
  width: 280px;
  min-height: 290px;
  margin-top: 358 px;
  margin-bottom: 35px;
  margin-top: 38px;
  @media (min-width: $viewport-tablet) {
    padding-left: 77px;
    padding-right: 124px;
    margin-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 65px;
    width: 506px;
    min-height: 200px;
    margin-bottom: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: $viewport-desktop) {
    width: 245px;
    height: 289px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    margin-top: 5px;
    margin-left: 80px;
    background-image: url("/img/catalog/desktop-images/backgrounds-gift-desktop.jpg");
    background-size: 245px 289px;
    @media (min-resolution: 2dppx) {
      background-size: 245px 289px;
      background-image: url("/img/catalog/desktop-images/backgrounds-gift-desktop@2x.jpg");
    }
  }
}

.catalog-gift__icon {
  @media (max-width: 767px) {
    margin-top: 32px;
  }
  @media (min-width: $viewport-tablet) {
    margin-left: 0;
  }
  @media (min-width: $viewport-desktop) {
    margin-top: 55px;
  }
}

.catalog-gift__info {
  @media (max-width: 767px) {
    margin-top: 50px;
  }
  @media (min-width: $viewport-tablet) {
    margin-right: 0;
  }
  @media (min-width: $viewport-desktop) {
    margin-top: 50px;
  }
}
