.contacts {
  background-color: $color-background-main;
}

.contacts__block {
  background-color: $color-background-main;
}

.contacts__block--catalog {
  background-color: $color-background-item;
  @media (min-width: $viewport-tablet) {
    background-color: $color-background-item;
  }
  @media (min-width: $viewport-desktop) {
    background-color: $color-background-main;
  }
}

.contacts__address {
  font-family: $font-text;
  color: $color-titles-400;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: start;
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
