.contacts-section {
  position: relative;
}

.contacts-section__block {
  margin: 0 auto;
  min-width: 280px;
  width: auto;
  padding: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  @media (min-width: $viewport-tablet) {
    width: auto;
    padding: 0;
    min-height: 80px;
    padding-left: 71px;
    padding-right: 70px;
    padding-top: 58px;
    padding-bottom: 60px;
  }
  @media (min-width: $viewport-desktop) {
    position: absolute;
    min-width: 100px;
    margin: 0;
    content: "";
    width: 405px;
    min-height: 78px;
    top: 95px;
    left: 110px;
    padding: 60px 80px;
    padding-top: 56px;
  }
}

.contacts-section__heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-titles-400;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 175px;
    margin-right: auto;
    text-transform: uppercase;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.contacts-section__heading--catalog {
  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 172px;
    margin-left: 70px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }
}

.contacts-section__map {
  margin: 0 auto;
  min-height: 362px;
  height: 362px;
  max-height: 367px;
  @media (min-width: $viewport-tablet) {
    min-height: 400px;
    height: 400px;
    max-height: 400px;
  }
  @media (min-width: $viewport-desktop) {
    min-height: 400px;
    height: 400px;
    max-height: 400px;
  }
}

.contacts-section__street {
  font-size: 14px;
  line-height: 20px;
  & span {
    text-align: start;
  }
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 20px;
    width: 165px;
    margin-left: auto;
    text-align: right;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 20px;
    min-height: 80px;
  }
}

.contacts-section__address--city {
  @media (min-width: $viewport-tablet) {
    margin-top: 13px;
  }
  @media (min-width: $viewport-desktop) {
    margin-top: 19px;
    min-height: 0;
  }
}

.contacts-section__address--catalog {
  @media (min-width: $viewport-tablet) {
    margin-right: 70px;
  }
  @media (min-width: $viewport-desktop) {
    margin-right: 0;
  }
}
