.contacts {
  background-color: $color-background-main;
}

.contacts__block {
  background-color: $color-background-main;
  margin: 0 auto;
  min-width: 280px;
  width: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $viewport-tablet) {
    min-width: $viewport-tablet - 60px;
    width: auto;
    padding: 0 30px;
    background-color: $color-background-item;
    min-height: 199px;
  }
  @media (min-width: $viewport-desktop) {
    background-color: $color-background-main;
  }
}

.contacts__heading {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-titles-400;
  margin: 0;
  padding: 0;
  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-family: $font-text;
  color: $color-titles-400;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  text-align: end;
  & span {
    text-align: end;
  }
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts-map {
  margin: 0 auto;
}
