.description__wrapper {
  padding: 20px;
  min-width: 280px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 5px solid salmon;

  @media (min-width: $viewport-tablet) {
    min-width: $viewport-tablet;
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }
}

//  сюда //
