.description__wrapper {
  padding: 0 20px;
  min-width: 280px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $viewport-tablet) {
    min-width: $viewport-tablet - 60px;
    padding: 0 30px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: $viewport-desktop) {
    min-width: $viewport-desktop - 220px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 110px;
  }
}

.description__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }
  @media (min-width: $viewport-desktop) {
    margin-bottom: 72px;
    margin-top: 71px;
  }
}

.description__list {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 29px;
  @media (min-width: $viewport-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(280px, auto);
    margin-top: 72px;
    column-gap: 60px;
    row-gap: 36px;
    margin-bottom: 22px;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.description__item {
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.description__info {
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  width: 199px;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    margin-right: auto;
    margin-top: 31px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    margin-top: 31px;
  }
}
