.example {
  background-color: $color-background-item;
}

.example__wrapper {
  margin: 0 auto;
  min-width: $viewport-mobile;
  width: auto;
  @media (min-width: $viewport-tablet) {
    min-width: $viewport-tablet - 60px;
    padding: 0 30px;
    width: auto;
  }
  @media (min-width: $viewport-desktop) {
    min-width: $viewport-desktop - 220px;
    width: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-background-item;
  }
}

.example__slider {
  @media (min-width: $viewport-desktop) {
    min-width: auto;
    padding: 0;
  }
}
