.example__wrapper {
  margin: 0 auto;
  min-width: $viewport-mobile;
  width: auto;
  display: flex;
  flex-direction: column;
  @media (min-width: $viewport-tablet) {
    min-width: $viewport-tablet - 60px;
    padding: 0;
    width: auto;
  }
  @media (min-width: $viewport-desktop) {
    min-width: $viewport-desktop - 220px;
    width: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    min-height: 641px;
  }
}

.example__slider {
  padding: 0 20px;
  margin: 0 auto;
  min-width: 280px;
  width: auto;
  @media (min-width: $viewport-desktop) {
    padding: 0 88px;
    min-width: 592px;
    height: 511px;
  }
}

.example__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-right: auto;
    margin-top: 43px;
  }
  @media (min-width: $viewport-desktop) {
    margin-left: 0;
    padding-left: 0;
    margin-top: 43px;
    z-index: 10;
  }
}

.example__buttons {
  margin-bottom: 45px;
  margin-top: 14px;
  width: 210px;
  margin-left: 36px;
  @media (min-width: $viewport-tablet) {
    margin-bottom: 59px;
    margin-top: 22px;
    margin-left: 5px;
  }
  @media (min-width: $viewport-desktop) {
    margin-top: 22px;
    margin-left: 25px;
    margin-bottom: 0;
    z-index: 11;
    font-size: 20px;
    line-height: 30px;
  }
}
.example__button {
  z-index: 11;
  font-size: 16px;
  line-height: 20px;
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__button span {
  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__toggler {
  @media (max-width: $viewport-tablet) {
    width: 83.8px;
    height: 12px;
  }
  @media (min-width: $viewport-tablet) {
    display: none;
  }
}

.example__range-section {
  @media (min-width: $viewport-tablet) {
    width: 426px;
    height: 6px;
  }
}

.example__range-section::-webkit-slider-thumb {
  width: 32px;
  height: 32px;
}

.example__list {
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 32px;
  @media (min-width: $viewport-tablet) {
    min-width: 366px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 28px;
  }
  @media (min-width: $viewport-desktop) {
    z-index: 11;
    margin-left: 0;
  }
}

.example__list-photo {
  @media (min-width: $viewport-desktop) {
    z-index: 11;
    margin-left: 21px;
  }
}

.example__image {
  z-index: 11;
  @media (min-width: $viewport-tablet) {
    width: 592px;
    height: 511px;
  }
}

.example__story {
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    margin-bottom: 54px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 146px;
    margin-bottom: 0;
    width: 436px;
    z-index: 10;
  }
}

.example__facts {
  @media (min-width: $viewport-tablet) {
    min-width: 708px;
  }
  @media (min-width: $viewport-desktop) {
    margin-left: 0;
    margin-top: 69px;
    z-index: 10;
    min-width: 600px;
  }
}

.example__info {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 40px;
  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 110px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    z-index: 10;
    grid-column: 1/2;
    min-width: 600px;
    width: auto;
  }
}

.example__slider {
  @media (min-width: $viewport-desktop) {
    grid-column: 2/3;
    margin-left: 0;
    padding: 0;
  }
}

.example__item {
  width: 124px;
  min-height: 56px;
  margin: 0;
  @media (min-width: $viewport-tablet) {
    width: 160px;
    height: 70px;
  }
  & dt {
    font-size: 24px;
    line-height: 24px;
    margin-top: 14px;
    z-index: 10;
    @media (min-width: $viewport-tablet) {
      font-size: 30px;
      line-height: 37px;
      margin-top: 14px;
      width: 127px;
    }
    @media (min-width: $viewport-desktop) {
      font-size: 30px;
      line-height: 37px;
      z-index: 10;
    }
  }
  & dd {
    @media (min-width: $viewport-tablet) {
      font-size: 14px;
      width: 127px;
    }
  }
}

.example__amount {
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 327px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 75px;
  }
}

.example__costs {
  @media (min-width: $viewport-tablet) {
    margin-bottom: 9px;
  }
  @media (min-width: $viewport-desktop) {
    margin: 0;
  }
}
