.info__heading {
  font-family: $font-heading;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 0;
  padding-left: 20px;
}

.info__calltoaction {
  font-family: $font-heading;
  color: $color-titles;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin-top: 35px;
  margin-bottom: 0;
  padding-left: 20px;
}

.info__pet-details {
  margin: 0;
  padding: 0;
}

.info__pet-list {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-top: 25px;
  padding-left: 20px;
}

.info__goal {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 22px;
}

.info__goal-list {
  border-top: 1px solid $color-separator;
  border-bottom: 1px solid $color-separator;
  padding: 0;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;
}

.info__owner-list {
  padding: 0;
  list-style: none;
  margin-top: 35px;
  margin-bottom: 23px;
}
.info__owner-item {
  display: flex;
  margin-bottom: 14px;
}
.info__owner-data {
  width: 201px;
  padding: 0;
  padding-left: 20px;
  display: inline;
}

.info__mail {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 280px;
  width: auto;
  align-items: center;
}
.info__owner-label {
  margin-left: 0;
}
.info__owner-input {
  flex-grow: 1;
  margin-left: 11px;
  min-height: 43px;
  border: 1px solid $color-separator-dark;
  padding: 0 15px;
  color: $color-text;
  font-family: $font-heading;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  background-image: url("/img/icon/input__icon-mail.svg");
  background-size: 20px 14px;
  background-position: right 19px center;
  background-repeat: no-repeat;
}
.info__owner-input__phone {
  flex-grow: 1;
  margin-left: 11px;
  min-height: 43px;
  border: 1px solid $color-separator-dark;
  padding: 0 15px;
  color: $color-text;
  font-family: $font-heading;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  background-image: url("/img/icon/icon__phone.svg");
  background-size: 20px 20px;
  background-position: right 12px center;
  background-repeat: no-repeat;
}

.info__phone {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: auto;
  margin-right: 20px;
  min-width: 280px;
}

.info__comment-add,
.info__owner-data,
.info__extra-heading {
  font-family: $font-heading;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.info__checkbox-label {
  font-family: $font-heading;
  color: $color-titles;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.info__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: $viewport-tablet) {
    min-width: auto;
    flex-direction: row;
  }
  @media (min-width: $viewport-desktop) {
    flex-direction: row;
  }
}

.info__submit-explain {
  font-family: $font-text;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}
.info__submit-button {
  min-width: 280px;
  margin-bottom: 21px;
  @media (min-width: $viewport-tablet) {
    min-width: 282px;
  }
  @media (min-width: $viewport-desktop) {
    min-width: 568px;
  }
}

.info__comment-add {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 38px;
}
.info__comment-textarea {
  font-family: $font-heading;
  color: $color-text;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin-left: 20px;
  min-width: 251px;
  height: 139px;
  padding-left: 15px;
  padding-top: 9.5px;
  padding-right: 12px;
  border: 1px solid $color-border-input;
  margin-bottom: 24px;
  @media (min-width: $viewport-tablet) {
    min-width: 590px;
    width: auto;
  }
  @media (min-width: $viewport-desktop) {
    min-width: 1188px;
    width: auto;
  }
}

.info__pet-age,
.info__pet-weight,
.info__pet-name {
  font-family: $font-heading;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.info__pet-input {
  font-family: $font-heading;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 16.5px;
  border: 1px solid $color-border-input;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  margin-bottom: 7px;
  flex-grow: 1;
  padding-left: 15px;
  padding-top: 13.2px;
  padding-bottom: 13.5px;
}

.info__phone,
.info__mail {
  font-family: $font-heading;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.info__goal-label {
  font-family: $font-heading;
  color: $color-darkgrey-2;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  position: relative;
  display: flex;
  align-content: center;
}

.info__goal-input {
  margin-left: 32px;
  position: relative;
  font-family: $font-heading;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}
.info__goal-input__span {
  margin-left: 15px;
  max-width: 230px;
  display: flex;
  align-items: center;
}

.goal__checkbox {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid $color-separator-dark;
}

.info__goal-input[type="radio"]:checked + .goal__checkbox::before {
  position: absolute;
  content: "";
  width: 13.5px;
  height: 13.5px;
  background-color: $color-background-contrast;
  border-radius: 50%;
  top: 7px;
  left: 7px;
  z-index: 12;
}

.info__goal-item {
  min-height: 30px;
  margin-bottom: 13px;
}

.info__extra,
.info__comment,
.info__owner {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 2px solid $color-background-contrast;
}

.info__extra {
  margin-left: 20px;
}
.info__extra-item {
  display: flex;
  min-height: 30px;
  margin-bottom: 13px;
  align-items: center;
}
.info__extra-heading {
  margin: 0;
  margin-bottom: 34px;
}
.info__extra-list {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 34px;
}
.info__extra-checkbox {
  width: 28px;
  height: 28px;
  border: 1px solid $color-separator-dark;
  background-color: inherit;
  display: inline-block;
  position: relative;
}

.info__extra-label {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 16px;
}

.info__checkbox-field[type="checkbox"]:checked + .info__extra-checkbox::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("/img/icon/tick.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  top: 0;
  left: 0;
}
