.item-block__wrapper {
  min-width: $viewport-mobile;
  width: auto;
  margin: 0 auto;
  @media (min-width: $viewport-tablet) {
    width: $viewport-tablet;
    padding: 0;
  }
  @media (min-width: $viewport-desktop) {
    width: $viewport-desktop;
    padding: 0;
  }
}
