.logo__icon-image {
  @media (min-width: $viewport-tablet) {
    width: 174px;
    height: 52px;
  }
  @media (min-width: $viewport-desktop) {
    width: 202px;
    height: 60px;
  }
}

.logo__icon-text {
  @media (min-width: $viewport-tablet) {
    display: none;
  }
  @media (min-width: $viewport-desktop) {
    display: none;
  }
}
