.main-catalog__wrapper {
  margin: 0 auto;
  min-width: 280px;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $viewport-tablet) {
    min-width: $viewport-tablet - 60px;
    padding: 0 30px;
    width: auto;
  }
  @media (min-width: $viewport-desktop) {
    min-width: $viewport-desktop - 220px;
    padding: 0 110px;
    width: auto;
  }
}

.main-catalog__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 41px;
  margin-left: 20px;
  @media (min-width: $viewport-tablet) {
    margin-top: 58px;
    margin-left: 0;
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $viewport-desktop) {
    margin-top: 73px;
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

