.page-header__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  padding-bottom: 17px;
  @media (min-width: $viewport-tablet) {
    padding: 0 30px;
    justify-content: space-between;
    min-height: 62px;
    margin: 0 auto;
    margin-top: 0;
    flex-wrap: nowrap;
    padding-top: 20px;
    border-bottom: none;
  }
  @media (min-width: $viewport-desktop) {
    padding: 0 110px;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 54px;
    padding-bottom: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: $viewport-desktop - 220px;
    min-height: 61px;
  }
}

.page-header__wrapper--index {
  @media (min-width: $viewport-desktop) {
    background-image: linear-gradient(
      to right,
      #fff 0px,
      #fff 720px,
      $color-background-contrast 720px,
      $color-background-contrast 1440px
    );
  }
}

.page-header__logo-text {
  margin-left: 56px;
  margin-top: 7px;
  @media (min-width: $viewport-tablet) {
    display: none;
  }
}
.page-header__logo-icon {
  height: 38px;
  @media (min-width: $viewport-tablet) {
    min-height: 52px;
  }
  @media (min-width: $viewport-desktop) {
    min-height: 60px;
  }
}
