.page-header__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  padding-bottom: 17px;
  @media (min-width: $viewport-tablet) {
    padding: 26px 30px;
    justify-content: space-between;
  }
  @media (min-width: $viewport-desktop) {
    padding: 55px 110px;
    justify-content: space-between;
  }
}

.page-header__logo-text {
  margin-left: 56px;
}
