.presentation__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background-contrast;
  background-image: url("/source/img/images__background/presentation__background--image.jpg");
  background-repeat: repeat;

  @media (min-width: $viewport-tablet) {
    flex-direction: column;
    background-color: $color-background-main;
    background-image: none;
  }
  @media (min-width: $viewport-desktop) {
    background-color: $color-background-main;
    background-image: url("/source/img/images__background/presentation__background--image.jpg");
    background-position: right 10px center;
    background-size: 50%;
    padding-left: 190px;
    padding-right: 190px;
    background-repeat: no-repeat;
    display: grid;
    width: $viewport-desktop - 380px;
    grid-template-columns: 414px 506px 140px;
    grid-template-rows: 120px 60px 106px;
  }
}

.presentation__heading {
  font-family: $font-heading;
  color: $color-titles-light;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  order: 1;

  @media (min-width: $viewport-tablet) {
    color: $color-titles;
  }
  @media (min-width: $viewport-desktop) {
    color: $color-titles;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.presentation__slogan {
  font-family: $font-heading;
  color: $color-titles-light;
  order: 2;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $viewport-tablet) {
    color: $color-titles;
  }
  @media (min-width: $viewport-desktop) {
    color: $color-titles;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.presentation__image {
  order: 3;
  @media (min-width: $viewport-tablet) {
    order: 4;
  }
  @media (min-width: $viewport-desktop) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

.presentation__link {
  display: flex;
  min-width: 280px;
  width: auto;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  order: 4;
  @media (min-width: $viewport-tablet) {
    order: 2;
  }
  @media (min-width: $viewport-desktop) {
    grid-template-columns: 1/2;
    grid-row: 3/4;
  }
}
