.presentation__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/images__background/presentation__background--image.webp");
  background-image: -webkit-image-set(
    url("/img/images__background/presentation__background--image.webp"),
    url('/img/images__background/presentation__background--image.jpg')
  );
  background-size: auto 302px;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  @media (min-width: $viewport-tablet) {
    flex-direction: column;
    background-color: $color-background-main;
    background-image: none;
  }
  @media (min-width: $viewport-desktop) {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: $viewport-desktop;
    min-height: 553px;
    &::before {
      position: absolute;
      content: "";
      width: 720px;
      height: 694px;
      top: -200px;
      right: 0;
      background-color: $color-background-contrast;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      width: 720px;
      height: 694px;
      top: -200px;
      right: 0;
      background-color: $color-background-contrast;
      background-image: url("/img/images__background/index-background-desktop.webp");
      background: fill solid $color-background-contrast;
      background-size: 720px 694px;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
}



.presentation__heading {
  font-family: $font-heading;
  color: $color-titles-light;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  order: 1;
  text-align: center;

  @media (min-width: $viewport-tablet) {
    font-style: $font-heading;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: $color-titles;
    width: 415px;
    text-align: center;
    margin-bottom: 41px;
  }
  @media (min-width: $viewport-desktop) {
    font-style: $font-heading;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    color: $color-titles;
    margin-top: 81px;
    margin-left: 190px;
    margin-bottom: 0;
    width: 420px;
    z-index: 11;
    text-align: start;
  }
}

.presentation__slogan {
  font-family: $font-heading;
  color: $color-titles-light;
  order: 2;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  @media (min-width: $viewport-tablet) {
    color: $color-titles;
    color: $color-titles;
    font-family: $font-heading;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 49px;
  }
  @media (min-width: $viewport-desktop) {
    color: $color-titles;
    font-family: $font-heading;
    order: 2;
    font-size: 20px;
    line-height: 20px;
    width: 290px;
    margin-left: 190px;
    margin-top: 40px;
    margin-bottom: 0;
    z-index: 11;
  }
}



.presentation__link {
  display: flex;
  min-width: 280px;
  width: auto;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  order: 4;
  @media (min-width: $viewport-tablet) {
    order: 2;
    margin-bottom: 629px;
    z-index: 11;
  }
  @media (min-width: $viewport-desktop) {
    z-index: 11;
    margin-left: 190px;
    margin-top: 52px;
    margin-bottom: 185px;
    background-color: $color-background-contrast;
    opacity: 2;
  }
}
