.presentation__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/images__background/presentation__background--image.webp");
  background-image: -webkit-image-set(
    url("/img/images__background/presentation__background--image.webp"),
    url("/img/images__background/presentation__background--image.jpg")
  );
  background-size: auto 302px;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  @media (min-width: $viewport-tablet) {
    flex-direction: column;
    background-color: $color-background-main;
    background-image: none;
  }
  @media (min-width: $viewport-desktop) {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: $viewport-desktop;
    min-height: 553px;
    &::before {
      position: absolute;
      content: "";
      width: 720px;
      height: 696px;
      top: -117px;
      right: 0;
      background-color: $color-background-contrast;
      z-index: 1;
    }
    &::after {
      position: absolute;
      content: "";
      width: 720px;
      height: 696px;
      top: -117px;
      right: 0;
      background-color: $color-background-contrast;
      background-image: url("/img/images__background/index-background-desktop.webp");
      background: fill solid $color-background-contrast;
      background-size: 720px 696px;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
}

.presentation__heading {
  font-family: $font-heading;
  color: $color-titles-light;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  @media (min-width: $viewport-tablet) {
    color: $color-titles;
    text-align: start;
  }
  @media (min-width: $viewport-desktop) {
    text-align: start;
  }
}

.presentation__slogan {
  font-family: $font-heading;
  color: $color-titles-light;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  @media (min-width: $viewport-tablet) {
    color: $color-titles;
    font-family: $font-heading;
  }
}
