.programs__block {
  background-color: $color-background-item;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: $viewport-tablet) {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 370px;
  }
  @media (min-width: $viewport-desktop) {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 370px;
  }
}

.programs__title {
  font-family: $font-heading;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 91px;
  margin-bottom: 29px;
  width: 138px;
  @media (min-width: $viewport-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 52px;
    margin-top: 77px;
    margin-bottom: 24px;
    width: 210px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 214px;
    margin-top: 77px;
    margin-bottom: 73px;
    width: 210px;
  }
}

.programs__description {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 237px;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 42px;
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin: 0;
    margin-left: 52px;
    margin-bottom: 52px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 24px;
    width: 467px;
    margin-left: 52px;
    margin-bottom: 27px;
  }
}

.programs__link {
  width: 162px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  @media (min-width: $viewport-tablet) {
    width: 162px;
    margin-left: 52px;
  }
  @media (min-width: $viewport-desktop) {
    width: 162px;
    margin-left: 52px;
  }
}
.programs__link span {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    top: 6px;
    right: -40px;
    background-image: url("/img/icon/icon-arrow.svg");
    background-repeat: no-repeat;
  }
}

.programs__icon--pro {
  width: 67px;
  height: 50px;
  background-image: url("/img/goals/goals__icon/goals__icon--pro.svg");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-color: inherit;
  @media (min-width: $viewport-tablet) {
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
  }
  @media (min-width: $viewport-desktop) {
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
  }
}
.programs__icon--pro {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 67px;
    height: 50px;
    top: 23px;
    left: 13px;
  }
  @media (min-width: $viewport-tablet) {
    position: absolute;
    content: "";
    width: 268px;
    height: 200px;
    top: 91px;
    right: 28px;
  }
  @media (min-width: $viewport-desktop) {
    position: absolute;
    content: "";
    width: 134px;
    height: 100px;
    top: 47px;
    left: 33px;
  }
}

.programs__icon--slim {
  width: 50px;
  height: 50px;
  background-image: url("/img/goals/goals__icon/goals__icon--slim.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-color: inherit;
  @media (min-width: $viewport-tablet) {
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
  }
  @media (min-width: $viewport-desktop) {
    width: 100px;
    height: 106px;
    background-size: 100px 106px;
  }
}

.programs__icon--slim {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    top: 21px;
    left: 22px;
  }
  @media (min-width: $viewport-tablet) {
    position: absolute;
    content: "";
    width: 200px;
    height: 211px;
    top: 81px;
    right: 62px;
  }
  @media (min-width: $viewport-desktop) {
    position: absolute;
    content: "";
    width: 100px;
    height: 106px;
    top: 41px;
    left: 52px;
  }
}
