.results {
  background-color: $color-background-example;
  @media (min-width: $viewport-tablet) {
    background-color: $color-background-example;
  }
  @media (min-width: $viewport-desktop) {
    background-color: $color-background-main;
  }
}

.results__wrapper {
  @media (min-width: $viewport-tablet) {
    background-image: linear-gradient(
      to bottom,
      $color-background-main 0px,
      $color-background-main 619px,
      $color-background-example 619px,
      $color-background-example 1081px
    );
  }
  @media (min-width: $viewport-desktop) {
    background-image: linear-gradient(
      to bottom,
      $color-background-main 0px,
      $color-background-main 205px,
      $color-background-example 205px,
      $color-background-example 462px
    );
  }
}

.results__info {
  background-color: $color-background-example;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    padding-bottom: 72px;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $color-background-example;
    border: none;
  }
}

.results__story {
  font-family: $font-text;
  color: $color-text;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-align: start;
}

.results__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid $color-separator-dark;
  border-radius: 3px;
  & dt {
    font-family: $font-heading;
    color: $color-titles;
    font-style: normal;
    font-weight: 400;
    z-index: 10;
    @media (min-width: $viewport-desktop) {
      z-index: 10;
    }
  }
  & dd {
    margin: 0;
    font-family: $font-text;
    color: $color-text;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    position: absolute;
    content: "";
    width: 87px;
    min-height: 31px;
    border: none;
    background-color: $color-background-example;
    bottom: -25px;
    z-index: 11;
    @media (min-width: $viewport-tablet) {
      font-size: 14px;
      line-height: 14px;
      background-color: $color-background-main;
    }
    @media (min-width: $viewport-desktop) {
      font-size: 14px;
      line-height: 14px;
      width: 97px;
      z-index: 13;
      background-color: $color-background-example;
    }
  }
}

.results__list {
  display: flex;
  justify-content: space-between;
  @media (min-width: $viewport-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.results__info {
  font-family: $font-heading;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $color-background-main;
    border-top: 1px solid $color-separator;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: none;
    background-color: transparent;
  }
}

.results__facts {
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: column;
  }
}
