.results {
  background-color: $color-background-item;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (min-width: $viewport-tablet) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  @media (min-width: $viewport-desktop) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.results__heading {
  font-family: $font-heading;
  color: $color-titles;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  @media (min-width: $viewport-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 60px;
    line-height: 60px;
  }
}

.results__story {
  font-family: $font-text;
  color: $color-text;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  @media (min-width: $viewport-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 16px;
    line-height: 24px;
  }
}

.results__item {
  & dt {
    font-family: $font-heading;
    color: $color-titles;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    @media (min-width: $viewport-tablet) {
      font-size: 30px;
      line-height: 37px;
    }
    @media (min-width: $viewport-desktop) {
      font-size: 30px;
      line-height: 37px;
    }
  }
  & dd {
    font-family: $font-text;
    color: $color-text;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    @media (min-width: $viewport-tablet) {
      font-size: 14px;
      line-height: 14px;
    }
    @media (min-width: $viewport-desktop) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.results__info {
  font-family: $font-heading;
  color: $color-titles;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  @media (min-width: $viewport-tablet) {
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: $viewport-desktop) {
    font-size: 20px;
    line-height: 20px;
  }
}
