.site-nav {
  margin-top: 8px;
  @media (min-width: $viewport-tablet) {
    min-width: 440px;
    width: auto;
    display: flex;
    margin-left: auto;
  }
  @media (min-width: $viewport-desktop) {
    min-width: 480px;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-top: 0;
  }
}

.site-nav__item {
  @media (min-width: $viewport-desktop) {
    padding: 0;
  }
}
