.social__link:hover svg {
  stroke: $color-background-contrast;
}
.social__link:active svg {
  stroke: $color-background-contrast-opacity;
}
.social__link:hover path {
  stroke: $color-background-contrast;
}
.social__link:active path {
  stroke: $color-background-contrast-opacity;
}
.social__link:hover use {
  stroke: $color-background-contrast;
}
.social__link:active use {
  stroke: $color-background-contrast-opacity;
}

.social__link--insta svg {
  @media (min-width: $viewport-tablet) {
    width: 23px;
    height: 23px;
  }
}
.social__link--fb svg {
  stroke: #666;
  @media (min-width: $viewport-tablet) {
    width: 28px;
    height: 33px;
  }
}
.social__link--vk svg {
  @media (min-width: $viewport-tablet) {
    width: 30px;
    height: 22px;
  }
}
