.social__link {
  @media (max-width: 767px) {
    max-height: 22px;
  }
}
.social__link svg {
  @media (max-width: 767px) {
    max-height: 22px;
  }
}

.social__link:hover svg {
  stroke: $color-background-contrast;
}
.social__link:active svg {
  stroke: $color-background-contrast-opacity;
}
.social__link:hover path {
  stroke: $color-background-contrast;
}
.social__link:active path {
  stroke: $color-background-contrast-opacity;
}
.social__link:hover use {
  stroke: $color-background-contrast;
}
.social__link:active use {
  stroke: $color-background-contrast-opacity;
}

.social__link--insta svg {
  @media (min-width: $viewport-tablet) {
    width: 23px;
    height: 23px;
  }
}
.social__link--fb:hover svg {
  stroke: $color-background-contrast;
}
.social__link--vk svg {
  @media (min-width: $viewport-tablet) {
    width: 30px;
    height: 22px;
  }
}
