.social__link:hover svg {
  outline: 5px solid purple;
  fill: yellow;
  stroke: green;
}

.social__link--insta svg {
  @media (min-width: $viewport-tablet) {
    width: 23px;
    height: 23px;
  }
}
.social__link--fb svg {
  @media (min-width: $viewport-tablet) {
    width: 28px;
    height: 33px;
  }
}
.social__link--vk svg {
  @media (min-width: $viewport-tablet) {
    width: 30px;
    height: 22px;
  }
}
