@import "fonts.scss";

@import "./blocks/visually-hidden.scss";

@import "variables.scss";

html {
  height: 100%;
}

body {
  color: $color-titles;
  background-color: $color-background-main;
  @include font-text;
}
