//colors//
$color-titles: #000;
$color-titles-400: #111;
$color-darkgrey-2: #222;
$color-text: #444;
$color-titles-light: #fff;
$color-background-main: #fff;
$color-background-item: #f2f2f2;
$color-separator: #d9d9d9;
$color-separator-dark: #cdcdcd;
$color-background-contrast: rgba(104, 183, 56, 0.85);

//fonts//
$font-heading: "Oswald", "Arial", sans-serif;
$font-text: "Arial", sans-serif;

// viewport//
$viewport-desktop: 1440px;
$viewport-tablet: 768px;
$viewport-mobile: 320px;
$viewport-desktop-adapt: 1220px;
